html, body, #root {
  background-color: #F7F7F7;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

/* null styles */
p {
  margin: 0px;
}
/* null styles */

.input {
  background-color: #FFFFFF;
  padding: 5px 10px;
  margin: 10px;

  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  border-radius: 5px;

  font-size: 18px;
  line-height: 30px;
}

.input:hover {
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.input:focus {
  border: 1px solid rgba(0, 0, 0, 0.4);
  outline-offset: 2px;
  outline-color: rgba(0, 0, 0, 0.2);
}

.input-container {
  display: flex;
  flex-direction: column;
}

.input-container__label {
  font-size: 16px;
  line-height: 20px;
  color: #0D0D0D;
}

.input-container__optional {
  font-size: 12px;
  line-height: 20px;
  color: #999999;
}

.input-container__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 10px;
  margin-top: 10px;
}

.btn {
  background: linear-gradient(180deg, #45A6FF 0%, #0055FB 100%), #C4C4C4;
  border-radius: 5px;
  border: none;
  padding: 5px 0px;
  margin: 10px;
  width: 110px;

  color: #fff;
  font-size: 16px;
  line-height: 30px;

  cursor: pointer;
}

.btn:hover {
  opacity: 0.85;
}

.btn:focus {
  outline-width: 2px;
  outline-color: #45A5FF;
}

.btn:active {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), linear-gradient(180deg, #45A6FF 0%, #0055FB 100%), #C4C4C4;
}

.btn:disabled {
  background: linear-gradient(0deg, #C4C4C4, #C4C4C4), linear-gradient(180deg, #45A6FF 0%, #0055FB 100%);
}

.block {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  width: 520px;
  padding: 20px 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.block__title {
  font-size: 24px;
  line-height: 30px;
  margin: 20px 10px;
}

.github {
  color: #999999;
  text-align: center;
  margin-top: 20px
}

.logo {
  height: 30px;
}

.logo_login {
  margin-bottom: 20px
}

.login {  
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.header__title {
  font-size: 20px;
  line-height: 30px;
  margin-left: 20px
}

.header__left-side {
  display: flex;
}

.header__right-side {
  display: flex;
}

.main-app {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.profile {
  display: flex;

  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  border-radius: 5px;
  padding: 5px 15px;
}

.profile__separator {
  margin: 0px 5px;
  color: rgba(0, 0, 0, 0.2);
}

.logout-button {
  display: flex;
  align-items: center;
  margin: 0px 30px;
  border: none;
  background: none;

  cursor: pointer;
}

.logout-button:hover {
  opacity: 0.75;
}

.logout-button__text {
  margin: 0px 8px;
  font-size: 16px;
  line-height: 20px;
}

.logout-button__image {
  width: 24px;
  height: 24px;
}

.fullscreen-button {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  border-radius: 5px;
  filter: grayscale(100%);

  cursor: pointer;
}

.fullscreen-button:hover {
  filter: grayscale(0%);
}

.fullscreen-button:focus {
  outline-offset: -4px;
  outline-width: 2px;
  outline-color: #45A5FF;
}

.fullscreen-button__image {
  width: 24px;
  height: 24px;
}

.history {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.clear-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: none;
  border: none;
  border-left: 1px solid rgba(0, 0, 0, 0.2);

  cursor: pointer;
}

.clear-button:hover {
  opacity: 0.75;
}

.clear-button__image {
  width: 24px
}

.history__list {
  display: flex;
  align-items: center;
  flex: 1;
  height: 50px;
  overflow-x: auto;
  overflow-y: hidden;
}

.history__list::-webkit-scrollbar {
  display: none;
}

.history-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 20px;
  background: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

.history-item__status {
  width: 10px;
  height: 10px;
  margin: 5px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

.history-item__status_success {
  background: #30B800;
}

.history-item__status_error {
  background: #CF2C00;
}

.history-item__title {
  font-size: 16px;
  line-height: 20px;
}

.history-item__drag-element {
  height: 18px;
  margin: 0px 5px 0px 10px;
}

.history__fade {
  position: absolute;
  width: 15px;
  height: 49px;
  right: 50px;
  background: linear-gradient(269.93deg, #F6F6F6 0.06%, rgba(246, 246, 246, 0) 99.93%);

  pointer-events: none
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  justify-content: space-between;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.request {
  display: flex;
  flex: 1;
  justify-self: stretch;
  justify-content: stretch;
}

.format-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: none;
  border: none;

  cursor: pointer;
}

.format-button:hover {
  opacity: 0.75;
}

.format-button__text {
  font-size: 16px;
  line-height: 20px;
  color: #0D0D0D;
  margin-right: 15px;
}

.format-button__image {
  width: 24px;
  margin: 0px 10px;
}

.area-container {
  display: flex;
  flex: 1;
}

.area {
  height: 100%;
  font-size: 14px;
  line-height: 18px;
  resize: none;
}

.dragger {
  height: 100%;
  display: flex;
  align-items: center;

  cursor: ew-resize
}

.dragger__image {
  height: 18px;
}